.section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; 
}

.title {
  
}

.section2_desc{
  transform: translateX(30%); 
    padding: 1 1px; 
}

.section2_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
    .section2_desc {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      color: #fff;
      .title {
        font-size: 5.2vmin;
      }
      .desc {
        font-size: 19px;
      }
    }
    
  }

  .profile_cont {
      position: relative;
      left: -10%;
      width: 45vmin;
      height: 65vmin;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 40px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.231372549);
      background: linear-gradient(180deg, #757575 0%, rgba(96, 96, 96, 0.00) 99.99%, rgba(117, 117, 117, 0.00) 100%);
    
      box-shadow: inset 10px 10px 40px -35px #fff;
      transition: transform 0.7s ease-out;
      transform: translateX(-60%) rotate(10deg);
      &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90px;
        height: 7px;
        background: black;
        border-radius: 100px;
      }
      .profile {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        z-index: 2;
        filter: grayscale(1);


      }
    }
    